/* body {
  color: black;
} */

section {
  margin-left: 6%;
  margin-right: 8%;
  padding: 0;
}

header {
  display: flex;
  margin-top: 1%;
  max-width: 100%;
}

header div {
  font-size: 20px;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

.Header-wrapper {
  display: flex;
  justify-content: space-around;
}

.header-buttons {
  margin-left: 300px;
  margin-top: 23px;
}

.AdminSignin-wrapper {
  width: 350px;
  margin-left: 400px;
}

#AddProductForm {
  display: flex;
  flex-direction: column;
}

.add-product-row {
  display: flex;
  margin-bottom: 10px;
}

#name {
  height: 32px;
  padding: 5px;
  width: 300px;
}

#description {
  height: 80px;
  padding: 5px;
  width: 300px;
}

#stock {
  height: 32px;
  margin-right: 5px;
  padding: 5px;
  width: 145px;
}

#stock {
  height: 32px;
  margin-right: 5px;
  padding: 5px;
  width: 145px;
}

#pictureLink {
  height: 32px;
  padding: 5px;
  width: 149px;
}

#categoryID {
  height: 32px;
  margin-right: 5px;
  padding: 5px;
  width: 145px;
}

#price {
  height: 32px;
  padding: 5px;
  width: 149px;
}

#add-product-button {
  padding: 5px;
  background-color: black;
  color: white;
  border: 0;
  width: 90px;
  height: 40px;
  margin-left: 100px;
}

.AddProduct-wrapper {
  
  margin-top: 10px;
  margin-left: 500px;
}

#addProductHeading{
  margin-left: 37px;
  font-size: 40px;
}